:root{
    font-size: 14px;
    --purple : #5E35F9;
    --light-purple : #EDE9FE;
    --light-gray : #FAFBFC;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #F8FAFC;
}

a{
    text-decoration: none;
}

.text-purple{
    color: var(--purple);
}

.bg-purple{
    background-image: linear-gradient(to right ,#7F23FE, var(--purple));
}

.bg-light-purple{
    background-color: var(--light-purple);
}

.bg-light-gray{
    background-color: var(--light-gray);
}

.bg-blue{
    background-image: linear-gradient(140deg, #00B2DD, #0369F9);
}

.bg-blur{
    background-color: #101828c7;
    backdrop-filter: blur(4px);
}

.bg-opacity-5 {
    --bs-bg-opacity: 0.05;
}

.w-15{
    width: 15px;
}

.h-15{
    height: 15px;
}

.w-40{
    width: 2.85rem;
}

.h-40{
    height: 2.85rem;
}

.w-30{
    width: 2rem;
}

.h-30{
    height: 2rem;
}

.w-26{
    width: 1.8rem;
}

.h-26{
    height: 1.8rem;
}

.w-45{
    width: 2.95rem;
}

.h-45{
    height: 2.95rem;
}

.w-20{
    width: 20px;
}

.h-20{
    height: 20px;
}

.w-90{
    width: 90px;
}

.h-90{
    height: 90px;
}

.w-35{
    width: 2.6rem;
}

.h-35{
    height: 2.6rem;
}

.h-95{
    height: 95vh;
}

.fs-7{
    font-size: .9rem;
}

.fs-8{
    font-size: .75rem;
}

.fs-9{
    font-size: .6rem;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow-none{
    box-shadow: none;
}

.cursor-pointer{
    cursor: pointer;
}

.transtion{
    transition: all .3s;
}

/* Start navbar */
nav.navbar{
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(2px);
}

nav .icon{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all .3s;
}

nav .icon:hover{
    background-color: rgba(128, 128, 128, 0.2);
    color: black !important;
}

.nav-item button{
    box-shadow: 0 0 0 transparent;
    transition: all .3s;
}

.nav-item button:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 7px #5f35f9a3;
}

/* End navbar */

/* Start pop */
.pop .icon.text-secondary{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all .3s;
}

.pop .icon.text-secondary:hover{
    background-color: rgba(128, 128, 128, 0.2);
    color: black !important;
}

.pop-body{
    height: calc(100% - 70px);
}

.pop-body .icon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
}

.pop-body .image-input{
    background: rgba(176, 176, 176, 0.185);
    cursor: pointer;
    transition: all .3s;
}

.pop-body .image-input:hover{
    background: rgba(176, 176, 176, 0.5);
}

.pop-body textarea{
    resize: none;
}

.pop-body .form-check-label span{
    color: rgba(128, 128, 128);
    transition: all .3s;
}

.pop-body .form-check-label:hover span{
    color: black;
}

.pop-body .form-control,
.pop-body .form-select{
    background-color: #F9FAFB;
    padding: 10px 8px;
    border-radius: 10px;
}

.pop-body .form-control:focus,
.pop-body .form-select:focus{
    box-shadow: 0 0 0 .1rem #7e23fe2f;
    border-color: var(--purple);
    background-color: white;
}

.pop-body button.cancel,
.pop-body button.save{
    padding: 10px 0;
}

.pop-body button.cancel:hover{
    background-color: rgba(128, 128, 128, 0.315) !important;
}

.pop-body button.save:hover{
    box-shadow: 0 5px 7px #5f35f9a3;
}

/* End pop */

/* Start cards */
#cards .inner:hover{
    box-shadow: 0 5px 5px rgba(170, 170, 170, 0.4) !important;
}

#cards .col:nth-child(1) .inner .icon{
    background-image: linear-gradient(140deg, #287BFF,#1861FD); 
    box-shadow: 0 3px 10px #1861fd6e;
}

#cards .col:nth-child(2) .inner .icon{
    background-image: linear-gradient(140deg, #FFB200, #FF7200);
    box-shadow: 0 3px 10px #ff73006e;
}

#cards .col:nth-child(3) .inner .icon{
    background-image: linear-gradient(140deg, #FB184B, #EB0021);
    box-shadow: 0 3px 10px #EB00216e;
}
/* End cards */

/* Start contatcts */
#contacts .form-control{
    border-left: none;
}

#contacts .input-group-text{
    width: fit-content;
    background-color: transparent;
    border: none;
}

#contacts .form-control{
    padding-left: 6%;
    border-left: 1px solid #E7EAED;
    border-top-left-radius: 1px;
    padding-block: 13px;
}

#contacts .form-control:focus{
    z-index: 0;
    box-shadow: 0 0 0 .1rem #7e23fe2f;
    border-color: var(--purple);
}

#contacts .contacts{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill ,minmax(350px, 1fr));
}

#contacts .contacts-empty{
    height: 50vh;
}

#contacts .side{
    top: 95px;
}

#contacts .contact-icon{
    background-image: linear-gradient(140deg, #00ACE0, #0268F8);
    width: 60px;
    height: 60px;
}

#contacts .other{
    background-color: rgba(180, 180, 180, 0.405);
}

#contacts .family{
    color: #3447E6;
    background-color: #DBEAFE;
}

#contacts .friends{
    color: #008274;
    background-color: #DBFCE7;
}

#contacts .school{
    color: #DE8700;
    background-color: #FEF3C6;
}

#contacts .work{
    color: var(--purple);
    background-color: var(--light-purple);
}

#contacts .call,
#contacts .mail,
#contacts .favorite,
#contacts .emergency,
#contacts .delete,
#contacts .edit{
    width: 35px;
    height: 35px;
    transition: all .5s;
    background-color: transparent;
    cursor: pointer;
}

#contacts .call{
    background-color: #d2fae665;
}

#contacts .mail{
    background-color: #ede9fe7e;
}

#contacts .call:hover{
    background-color: #D2FAE6;
}

#contacts .mail:hover{
    background-color: var(--light-purple);
}

#contacts .favorite:hover{
    background-color: #F5F6F8;
    color: #FFB900;
}

#contacts .favorite.active{
    background-color: #fef3c67f;
    color: #FFB900;
}

#contacts .favorite.active:hover{
    background-color: #FEF3C6;
}

#contacts .emergency:hover{
    background-color: #F5F6F8;
    color: #fF2056;
}

#contacts .emergency.active{
    background-color: #ffe4e67f;
    color: #fF2056;
}

#contacts .emergency.active:hover{
    background-color: #FFE4E6;
}

#contacts .edit:hover{
    color: #4F39F6;
    background-color: #EEF2FF;
}

#contacts .delete:hover{
    color: #EC003F;
    background-color: #FFF1F2;
}

#contacts #favorite .fav-header{
    background-color: #FFF7EC;
}

#contacts #favorite .fav-header .icon{
    background-image: linear-gradient(140deg, #FFB200, #FF7200);
}

#contacts #favorite .fav-empty{
    height: 120px;
}

#contacts #favorite .inner .fav:hover{
    background-color: #FFFBEB;
}

#contacts #favorite .inner .icon{
    background-image: linear-gradient(140deg, #00ACE0, #0268F8);
    width: 45px;
    height: 45px;
}

#contacts #favorite .inner .call-icon{
    width: 30px;
    height: 30px;
    background: #D0FAE5;
}

#contacts #favorite .inner .fav:hover .call-icon{
    color: white !important;
    background: #008274;
}

#contacts #emergency .emg-header{
    background-color: #FEF2F2;
}

#contacts #emergency .emg-header .icon{
    background-image: linear-gradient(140deg, #FB184B, #EB0021);
}

#contacts #emergency .emg-empty{
    height: 120px;
}

#contacts #emergency .inner .emg:hover{
    background-color: #FFF1F2;
}

#contacts #emergency .inner .icon{
    background-image: linear-gradient(140deg, #00ACE0, #0268F8);
    width: 45px;
    height: 45px;
}

#contacts #emergency .inner .call-icon{
    width: 30px;
    height: 30px;
    background: #FFF1F2;
}

#contacts #emergency .inner .emg:hover .call-icon{
    color: white !important;
    background: #F10033;
}
/* End contatcts */